<nav class="main-menu-wrap">
  <ul class="menu-ul">
    <li
      class="menu-item"
      *ngFor="let item of menuItems"
      [ngClass]="{ 'active': (item.active || isActive([orientation, item.routing])), 'has-sub': item.sub }"
    >
      <div *ngIf="item.groupTitle; then group else default"></div>

      <!-- Group title -->
      <ng-template #group>
        <span class="group-title">{{ item.title }}</span>
      </ng-template>
      <!-- end Group title -->

      <!-- Default item -->
      <ng-template #default>
        <div *ngIf="!item.sub; then simple; else sub"></div>

        <!-- Single item -->
        <!-- first Stack of menu -->
        <ng-template #simple>
          <a
            href="#"
            class="item-link"
            (click)="toggle($event, item, this); closeAll(); closeSidebar()"
          >
            <tc-icon
              class="link-icon"
              [iconClass]="item.icon.class"
              [tcFontSize]="'1.3em'"
              [tcColor]="item.icon.color"
              [tcBgColor]="item.icon.bg"
              *ngIf="item.icon && item.icon.class"
            ></tc-icon>

            <span class="link-text">{{ item.title }}</span>

            <tc-badge
              class="link-badge"
              [size]="'sm'"
              [tcColor]="item.badge.color"
              [tcBgColor]="item.badge.bg"
              *ngIf="item.badge && item.badge.text"
            >
              {{ item.badge.text }}
            </tc-badge>
          </a>
        </ng-template>
        <!-- end Single item -->

       
       
      </ng-template>
      <!-- end Default item -->
    </li>
  </ul>
</nav>
